:root {
  --main-color: #f44242;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden; 
}

.Routes {
  padding: 2% 10%;
}

form * {
  margin-bottom: 10px !important;
}
.main-wrapper {
  flex: 1 0 auto;
  text-align: center;
}

.search-wrapper {
  padding: 30px 0;
}

.search-heading {
  font-family: 'Noto Serif SC', serif;
  font-size: 20px;
  text-align: center;
}

.search-bar {
  display: flex;
  flex-direction: column;
  width: 46%;
  height: 30px;
  text-align: center;
  font-size: 23px;
  margin: 5px auto 30px auto;
  text-transform: capitalize;
}

.search-bar:focus {
  outline-color: var(--main-color);
}

.director-data {
  display: flex;
  border: 1px solid lightgray;
  max-width: 1080px;
  margin: 10px auto;
  padding: 15px;
  overflow: hidden;
}

.director-data-img {
  margin-right: 20px;
}

.director-data-bio {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.director-data-bio > div {
  font-family: 'Noto Serif SC', 'Georgia', serif;
}

.director-data-city {
  font-size: 14px;
  font-style: italic;
}

.director-data-info {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: #6f6e6e;
}

.director-data-button {
  display: inline-block;
  padding: 5px;
  color: var(--main-color);
  background-color: #fff;
  border: 1px solid var(--main-color);
  font-family: 'Noto Serif SC', serif;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.director-data-button:hover {
  color: #fff;
  background-color: var(--main-color);
}

.director-page {
  max-width: 1024px;
  margin: 10px auto;
}

.director-page-img {
  display: inline-block;
  width: 50%;
}

.director-page-img img{
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.director-page-bio {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  text-align: center;
  margin-top: 10%; 
}

.director-page-bio > h1{
  font-size: 1.8rem;
}

.director-page-name {
  font-size: 50px;
  font-family: 'Noto Serif SC', 'Georgia', serif;
  margin-bottom: 20px;
}
.director-page-city {
  font-size: 18px;
  font-style: italic;
  font-family: 'Noto Serif SC', 'Georgia', serif;
}

.carousel-photo {
  height: 400px;
  margin: 0 20px;
}

div.bigpicture.link.picture {
  display: block !important;
  margin: 50px auto;
}

.director-video {
  display: block;
  margin: 0 auto;
}

.carousel {
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  .director-page-img {
    display: block;
    width: 100%;    
  }

  .director-page-img img {
    width: 60%;
  }

  .director-page-bio {
    display: block;
    width: 100%;
  }

  .carousel-photo {
    height: 200px;
    margin: 0 20px;
  }

  .director-video {
    width: 100%;
  }

  .director-page-name {
    font-size: 20px;
    font-family: 'Noto Serif SC', 'Georgia', serif;
    margin-bottom: 5px;
  }

  .director-page-city {
    margin-bottom: 25px;
  }
}
